.shoppingwrapper {
  background-color: #fff;
  width: 300px;
  height: 100%;
  position: absolute;
  right: -300px;
  top: 0;
  transition: right 0.5s ease-in-out;
}

.wrap-false {
  right: -300px;
}

.wrap-true {
  right: 0;
}

.shoppingmenu {
  padding: 20px;
}

.bagBody {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}