.singleproduct {
  display: flex;
  align-items: flex-end;
  padding-top: 10px;
  width: 65%;
  flex-direction: row;
  margin: auto;
  max-width: 750px;
}

.singleproductcard {
  margin-right: 20px;
  /* max-height: 220px;
  max-width: 220px; */
}

/* @media (min-width: 768px) {
    .singleproduct {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .singleproductcard {
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .singleproductcard:last-child {
      margin-right: 0;
    }
  } */
  .interactivebutton {
    display: flex;
    flex-direction:column-reverse;

    justify-content: space-evenly;
    max-height: 100%;
  }
  
  .morecategories,
  .morebutton {
    margin: 3px;
    width: 50%; /* set a fixed width */
  }